.checkbox__container {

}

.checkbox__container input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkbox__container label {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.checkbox__container label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #2dd87e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox__container input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid  #2dd87e;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
