.container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: initial !important;
    margin-bottom: 40px !important;
}

.desc__container {
    padding: 35px 40px 20px 40px;
    background: #fff;
    border-radius: 25px;
    flex-grow: 1;
}

.title__container {
    padding: 15px 40px;
    background: #4048f0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.title {
    color: #fff;
    font-weight: 400;
}

.desc {
    font-size: 16px;
    color: #7b7b7b;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.icon {
    position: absolute;
    top: -23px;
    padding: 11px;
    border-radius: 50%;
    background: #4048f0;
    align-self: center;
    font-size: 25px;
    color: #fff;
}
