.container {
    flex-basis: 32%;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 10px 5px rgba(150, 150, 150, .1);
    transition: 0.2s;
    min-width: 300px;
}

.container:hover {
    transform: translateY(-5px);
}

.img {
    width: 100%;
    height: 190px;
    background-size: contain;
}

.footer {
}

.footer__info {
    padding: 15px 20px;
}

.footer__title {
    margin-bottom: 10px;
}

.buttons__container {
    border-top: 1px solid #eeeeee;
    padding: 10px 20px;
}

.button {
    margin-right: 5px;
}

