.container {
    margin-top: 60px;
}



.section {
    padding: 20px 30px;
    background: #fff;
    max-width: 700px;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    align-self: center;
    position: relative;
}

.section__inner {
    display: flex;
    flex-wrap: wrap;
}

.section__img {
    width: 120px;
    height: 120px;
    /*object-fit: cover;*/
}

.section__main {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__name {
    margin-bottom: 5px;
    font-weight: 500;
}

.section__desc {
    color: #a8a8a8;
    font-size: 14px;
}

.section__buttons {
    display: flex;
}

.section__button {
    margin-right: 10px;
}

.section__icons {
    position: absolute;
    right: 20px;
    top: 20px;
}

.section__icon {
    font-size: 30px;
    cursor: pointer;
    margin-right: 8px;
}

.section__icon:last-child {
    margin-right: 0;
}

.section__footer {
    display: flex;
    margin-top: 20px;
    padding: 20px 0 10px 0;
    border-top: 1px solid #ededed;
    flex-wrap: wrap;
}

.section__footer__item {
    flex: 1;
    border-right: 1px solid #ededed;
    height: 50px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__footer__title {
    font-size: 12px;
    color: #7b7b7b;
}

.section__footer__value {
    font-size: 14px;
}

.section__footer__item:last-child {
    margin-right: 0;
    border-right: none;
}

.section__url {
    color: #404040;
    font-size: 14px;
}

.section__url:hover {
    border-bottom: 1px solid #404040;
}

.tariff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tabs__container {
    display: flex;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.tab {
    flex-grow: 1;
    list-style: none;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 0;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: 0.15s;
}

.tab:last-child {
    border-right: none;
}

.tab__active {
    background: #1F2C4F;
    color: #fff;
}

@media (max-width: 500px) {
    .section {
        padding: 40px 30px;
    }
    .section__inner {
        align-items: center;
        justify-content: center;
    }

    .section__main {
        margin-left: 0;
        width: 100%;
    }

    .section__buttons {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .section__footer {
        flex-direction: column;
        padding-bottom: 0;
    }
    .section__footer__item {
        flex-direction: row;
        margin-right: 0;
        border-right: none;
        align-items: center;
        margin-bottom: 15px;
    }
    .section__footer__item:last-child {
        margin-bottom: 0;
    }
    .section__button {
    }
}
