.tab {
    padding: 10px;
    list-style: none;
    cursor: pointer;
}

.tab__active {
    border-bottom: 1px solid #ccc;
}

.tab__list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.tab__panel {
    max-height: 300px;
    overflow: auto;
}

.images__tab__panel {
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
}

.image__active {
    border: 1px solid #51608a;
}

.empty__text {
    font-weight: 300;
    color: #7b7b7b;
}
