.tab__list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
}

.tab {
    padding: 10px 19px;
    list-style: none;
    border-radius: 4px;
    cursor: pointer;
}

.tab__active {
    /*background: linear-gradient(200deg,#2dd87e,#14c4a4);;*/
    background: #4048f0;
    color: #fff;
}

@media(max-width: 500px) {
    .tab__list {
        flex-direction: column;
    }
}
