.container {
    margin-top: 40px;
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
}

.card__container {
    flex-basis: 31%;
    padding: 0 1%;
}

.tabs__container {
    display: flex;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden;
    padding: 0;
    margin-bottom: 20px;
}

.tab {
    flex-grow: 1;
    list-style: none;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px 0;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: 0.15s;
}

.tab:last-child {
    border-right: none;
}

.tab__active {
    background: #4048f0;;
    color: #fff;
}

@media (max-width: 650px) {
    .tabs__container {
        flex-direction: column;    box-shadow: 2.5px 24.3px 50px 0 rgba(206,217,227,.5);

        border: none;
    }
    .tab {
        border: none;
    }
}
