.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #40404040;
    z-index: 10;
}


.container {
    width: 100%;
    height: 100%;
    max-width: 700px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 40px 50px;
    overflow: auto;
    z-index: 11;
}

.title {
    margin-bottom: 30px;
}

.field__container {
    margin-bottom: 20px;
}

.refresh__icon {
    margin-right: 10px;
    cursor: pointer;
}

.variations__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.variation {
    width: 80px;
    height: 70px;
    margin-right: 14px;
    object-fit: cover;
    cursor: pointer;
}

.variation__active {
    outline: 2px solid #1F2C4F;
}
